.Header {
    background-color: #114B5F;
    height: 15%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    color: white;
    border-end-end-radius: 30px 30px;
    border-end-start-radius: 30px 30px;
  }

.Text {
    text-align: left;
    color: #00785C;
}

.Schedule {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

dl {
    list-style: none;
}

.Weeks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #FAFAFA;
    color: #A5A5A5;
    height: 3em;
    border-radius: 20px 20px 0 0/ 20px 20px 0 0;
}

.Days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #A5A5A5;
    height: 10%;
}

.DayFood {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

.Rectangle {
    background-color: #028090;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    position: relative;
}

.FoodTime {
    color: #FAFAFA;
    text-decoration: none;
}

.ScheduleImg {
    width: 90%;
    height: 18em;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    object-fit: cover;
    background-color:#03030a;
    filter: brightness(0.8);
}

.ChangeLink {  
    color: #FAFAFA;
    text-decoration: none;
    margin-left: 60%;
    padding-top: 3em;
    font-weight: bold;
}

.FoodName {
    position: absolute;
    top: 12%;
    width: 80%;
    border-radius: 20px;
    left: 10%;
}
